{
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 99,
          "tabWidth": 4,
          "useTabs": false,
          "explicitTypes": "always"
        }
      },
      {
        "files": "*.ts",
        "options": {
          "printWidth": 99,
          "tabWidth": 4,
          "useTabs": false,
          "semi": true,
          "trailingComma": "all"
        }
      },
      {
        "files": "*.json",
        "options": {
            "printWidth": 80
        }
      }
    ]
  }